.cell{
    width: 200px;
    height: 200px;
    border: 1px solid blue;
    background-color: white;
    font-size: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "consolas";
}

.row{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.win{
    text-align: center;
    font-family: "consolas";
    font-size: 50px;
}
.reset{
     text-align: center;
     justify-content: cen
}